{% extends 'hospital/admin_base.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Appointments</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Doctor Name</th>
          <th>Patient Name</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      {% for a in appointments %}
      <tr>
        <td> {{a.doctorName}}</td>
        <td>{{a.patientName}}</td>
        <td>{{a.description}}</td>
        <td>{{a.appointmentDate}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
