{% extends 'hospital/doctor_base.html' %}
{% load static %}
{% block content %}
{%include 'hospital/doctor_dashboard_cards.html'%}
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="panel panel-primary" style="margin-left:15%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Recent Appointments For You</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Patient Name</th>
            <th>Picture</th>
            <th>Description</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Hospital</th>
            <th>Date</th>
          </tr>
        </thead>
        {% for a in appointments %}
        <tr>
          <td>{{a.patient}}</td>
          <td> <img src="{% static a.patient.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
          <td>{{a.description}}</td>
          <td>{{a.patient.mobile}}</td>
          <td>{{a.patient.address}}</td>
          <td>{{a.patient.hospital}}</td>
          
          <td>{{a.appointmentDate}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>


{% endblock content %}
