{% extends 'hospital/receptionist_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">History</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Old Hospital</th>
          <th>New Hospital </th>
          <th>Date</th>
          <th>Status</th>
          
        </tr>
      </thead>
      {% for d in histories %}
      <tr>

        <td> {{d.current_hospital}}</td>
       
        <td>{{d.new_hospital}}</td>
        <td>{{d.date}}</td>
        <td>{{d.status}}</td>
        
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


{% endblock content %}
