{% extends 'hospital/ministry_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title"> Hospital </h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
            <th>Name</th>
          <th>Address</th>
          <th>Mobile </th>
          <th>Status</th>
          
          <th class="text-right">Action</th>
        </tr>
      </thead>
      {% for d in hospitals %}
      <tr>
    <td> {{d}}</td>
        <td> {{d.address}}</td>
       
        <td>{{d.mobile}}</td>
        
        <td>{{d.status}}</td>
         {% if d.status == 'Pending' %}
                <td class="text-right">
                    <button class="btn btn-primary badge-pill" style="width: 120px;"><a  style="text-decoration: none;color: white;" href="{% url 'approve-hospital' d.id  %}">Approve</a> </button>
                    <button class="btn btn-danger badge-pill" style="width: 80px;"><a  style="text-decoration: none;color: white;" href="{% url 'reject-hospital' d.id  %}">Reject</a> </button>
                </td>              

                {% else %}
                 <td class="text-right">
                    <button class="btn btn-danger badge-pill" style="width: 120px;"><a  style="text-decoration: none;color: white;" href="{% url 'delete-hospital' d.id  %}">Delete</a> </button>
                    
                </td> 

                {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


{% endblock content %}
