{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Ministry Of Health</h1>
  <p style="text-align:center;" class="lead">Welcome to Central Patient Record System.</p>
  <hr class="my-4">
  <p style="text-align:center;">You can access various features after Login/SignUp.</p>
  <p style="text-align:center;" class="lead">
    <a class="btn btn-primary btn-lg" href="/ministrysignup" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/ministrylogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
